Repository PapillonApp/Papillon, pull requests merged in 2024-08, with the labels that each got.

#55 Add Skolengo to the account store
  package-lock.json
  package.json
  src/components/Settings/AccountContainerCard.tsx
  src/services/reload-account.ts
  src/services/skolengo/default-personalization.ts
  src/services/skolengo/reload-skolengo.ts
  src/services/skolengo/skolengo-account.ts
  src/services/skolengo/skolengo-types.ts
  src/stores/account/types.ts
  src/views/login/ServiceSelector.tsx
  src/views/login/skolengo/SkolengoWebview.tsx
  src/views/settings/SettingsTabs.tsx
Labels: 🔌 ENT / services

#68 feat(attendance): add name for custom observations
  src/views/account/Attendance/Atoms/AttendanceItem.tsx
  src/views/account/Attendance/Attendance.tsx
Labels: ✨ enhancement

#85 Fix de la connexion avec EcoleDirecte
  src/views/login/ecoledirecte/EcoleDirecteCredentials.tsx
Labels: 🪱 bug, 🔌 ENT / services

#78 [Enhancement]: Déploiement automatique avec GitHub Actions
  .github/workflows/start_build.yml
  CODEOWNERS
  ios/ExportOptions.plist
  src/views/welcome/FirstInstallation.tsx
Labels: ✨ enhancement
