Repository PapillonApp/Papillon, changes with the owners that CODEOWNERS names for each.
All owners: @raphckrman, @tryon-dev, @ecnivtwelve, @godetremy

CODEOWNERS:

services/* @raphckrman
database/* @raphckrman
stores/* @raphckrman
.github/* @raphckrman

utils/magic/* @tryon-dev

ui/* @ecnivtwelve
ui/components/Pattern/* @godetremy

fix: Header show on Android
  app/_layout.tsx
Owners: none

fix: Pattern zIndex on Android
  ui/components/Pattern/Pattern.tsx
Owners: @godetremy

fix: Header height on calendar
  app/(tabs)/calendar/index.tsx
Owners: none

fix: Header height on Android
  app/(settings)/_layout.tsx
Owners: none

fix: Visibility of Alert (close #313)
  app/alert.tsx
  ui/components/AlertProvider.tsx
Owners: none

fix: News are not sorted by date & Date are not showed in right format (close #306)
  app/(tabs)/profile/index.tsx
Owners: none

fix: Webview open browser for new tab on Android (close #269)
  app/(onboarding)/pronote/webview.tsx
Owners: none

fix: Webview automatic zoom on input on iOS (close #233)
  app/(onboarding)/pronote/webview.tsx
Owners: none

Update app/(onboarding)/university/multi/credentials.tsx
  app/(onboarding)/university/multi/credentials.tsx
Owners: none

Update app/(onboarding)/utils/constants.tsx
  app/(onboarding)/utils/constants.tsx
Owners: none

Update services/multi/timetable.ts
  services/multi/timetable.ts
Owners: none

Update app/(onboarding)/utils/constants.tsx
  app/(onboarding)/utils/constants.tsx
Owners: none

fix: typo
  app/(tabs)/tasks/index.tsx
Owners: none

feat: update course filtering logic
  .gitignore
  app/(tabs)/index/index.tsx
Owners: none

feat(watermelon): add watermelon hooks to calendar & home
  app/(tabs)/calendar/index.tsx
  app/(tabs)/index/index.tsx
  database/models/News.ts
  database/schema.ts
  database/useTimetable.ts
Owners: @raphckrman

feat(news): no more load
  app/(tabs)/profile/index.tsx
  database/models/Grades.ts
  database/useGrades.ts
  database/useNews.ts
Owners: @raphckrman

fix: kids are news???????
  database/models/Kid.ts
Owners: none

fix: improve upcoming courses display logic
  app/(tabs)/index/index.tsx
Owners: none

fix: getNews
  app/(tabs)/profile/index.tsx
Owners: none

fix: customisation
  app/(tabs)/calendar/index.tsx
Owners: none

feat: Introduce Avatar component
  ui/components/Avatar.tsx
Owners: none

feat: Introduce Skeleton capabilities on Typography
  ui/components/Typography.tsx
Owners: none

feat: Add new components on demo page
  app/demo.tsx
Owners: none

feat: Add SkeletonView
  ui/components/SkeletonView.tsx
Owners: none

fix: Calculate some style on Typography
  ui/components/Typography.tsx
Owners: none

feat: Add skeleton property on course
  app/demo.tsx
  ui/components/Course.tsx
Owners: none

fix: reset selected week to current week on render or date change
  app/(tabs)/tasks/index.tsx
Owners: none

feat: Add skeleton property on icon
  app/demo.tsx
  ui/components/Icon.tsx
Owners: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @raphckrman

Update credentials.tsx
  app/(onboarding)/pronote/credentials.tsx
Owners: none

Update url.tsx
  app/(onboarding)/pronote/url.tsx
Owners: none

feat: Add skeleton property on CompactGrade
  ui/components/CompactGrade.tsx
Owners: none

feat: Add skeleton property on Grade
  ui/components/Grade.tsx
Owners: none

feat: Add skeleton property on Subject
  ui/components/Subject.tsx
Owners: none

feat: Add skeletonWidth to Typography
  ui/components/Typography.tsx
Owners: none

feat: Update demo page
  app/demo.tsx
Owners: none

feat: Add Task Component
  ui/components/Task.tsx
Owners: none

perf: Performance improvement on Skeleton View
  app/demo.tsx
  ui/components/SkeletonView.tsx
Owners: none

fix: format useEffect comment for clarity
  app/(tabs)/tasks/index.tsx
Owners: none

perf: Performance improvement on Skeleton View
  ui/components/SkeletonView.tsx
Owners: none
