Repository PapillonApp/Papillon, changes with the owners that CODEOWNERS names for each.
All owners: @raphckrman, @tryon-dev, @ecnivtwelve, @godetremy

CODEOWNERS:

services/* @raphckrman
database/* @raphckrman
stores/* @raphckrman
.github/* @raphckrman

utils/magic/* @tryon-dev

ui/* @ecnivtwelve
ui/components/Pattern/* @godetremy

fix: make build temporarily work on latest non-beta Xcode
  app.config.ts
  assets/images/icon.png
  ui/utils/IsLiquidGlass.ts
Owners: none

fix: ios 26 specific code that has to be temporarily disabled
  app/(tabs)/_layout.tsx
  app/(tabs)/calendar/index.tsx
Owners: none

fix: types
  stores/global/serializer.ts
Owners: none

fix: implement the ED login like in the V7
  app/(onboarding)/ecoledirecte/credentials.tsx
Owners: none

feat(2fa): add translations for PRONOTE 2FA
  locales/en.json
  locales/fr.json
Owners: none

feat(2fa): add modal component for 2FA login
  app/(onboarding)/pronote/2fa.tsx
Owners: none

feat(2fa): add 2FA modals to credentials and webview
  app/(onboarding)/pronote/credentials.tsx
  app/(onboarding)/pronote/webview.tsx
Owners: none

fix: time comparison
  app/(tabs)/index/index.tsx
Owners: none

fix: limit to 2 for widgets
  app/(tabs)/index/index.tsx
Owners: none

fix(i18n): add locales for webview loading description
  components/onboarding/OnboardingWebview.tsx
  locales/en.json
  locales/fr.json
Owners: none

fix: android scheme + gitignore update
  .gitignore
  android/app/src/main/AndroidManifest.xml
Owners: none

resolve
  locales/en.json
Owners: none

removed la ligne en trop
  locales/en.json
Owners: none

German Translation added
  locales/de.json
Owners: none

fix: dead session PRONOTE
  services/pronote/index.ts
Owners: none

fix(ui): corrections grammaticales et de capitalisation
  app/(settings)/magic.tsx
  locales/en.json
  locales/fr.json
Owners: none

typo: change formal form to informal form in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @raphckrman

typo: change formal form to informal form in PULL_REQUET_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @raphckrman

typo: change formal form to informal form in app messages
  app/(modals)/notifications.tsx
  app/(onboarding)/pronote/credentials.tsx
  app/(onboarding)/pronote/url.tsx
  app/(onboarding)/school/map.tsx
  app/(settings)/edit_subject.tsx
  app/(settings)/services.tsx
  app/(tabs)/tasks/index.tsx
Owners: none

typo: change formal form to informal form in README.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Owners: @raphckrman

typo : some typo corrections in fr.json
  locales/fr.json
Owners: none

fix(): Downgrade expo-file-system to 18.1.11 for Magic+
  package-lock.json
  package.json
Owners: none

feat(app): update app icon image
  ios/Papillon/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
Owners: none

fix: correction d’erreurs d’orthographe
  app/(settings)/magic.tsx
  app/(settings)/settings.tsx
  locales/en.json
  locales/fr.json
Owners: none

fix: correction du bug d’affichage de “commencer dans”
  app/(modals)/course.tsx
Owners: none

fix: corrige l’affichage du nom de lycée trop long
  app/(settings)/settings.tsx
Owners: none

fix: add key prop to Course component in Homepage
  app/(tabs)/index/index.tsx
Owners: none

fix: update EmptyListComponent styling with background color and full width
  app/(tabs)/grades/index.tsx
Owners: none

feat(ucbl): adding ucbl in univ list
  app/(onboarding)/utils/constants.tsx
Owners: none

feat(ucbl): adding ucbl logo
  assets/images/ucbl.png
Owners: none

fix: implement magic prediction feature for homework tasks
  app/(tabs)/tasks/index.tsx
  utils/magic/prediction.ts
Owners: @tryon-dev

feat(skolengo): add schema for deeplinking
  android/app/src/main/AndroidManifest.xml
  app.config.ts
  package-lock.json
  package.json
Owners: none

fix: add polyfill
  app/_layout.tsx
Owners: none

fix: deeplink login
  app/(onboarding)/skolengo/webview.tsx
Owners: none

fix: headerheight in calendar
  app/(tabs)/calendar/index.tsx
Owners: none

fix: podfile + icon
  ios/Papillon/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/Papillon/Info.plist
  ios/Podfile
Owners: none

fix: refresh skolengo
  services/skolengo/index.ts
  services/skolengo/refresh.ts
  services/skolengo/timetable.ts
Owners: none

fix: update subject color handling in CourseModal and Calendar tab
  app/(modals)/course.tsx
  app/(tabs)/calendar/index.tsx
Owners: none

fix: remove background color from EmptyListComponent
  app/(tabs)/grades/index.tsx
Owners: none

fix: Input height on Android
  components/onboarding/OnboardingInput.tsx
Owners: none
